:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  color: rgb(16, 15, 15);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 a {
  font-weight: 600;
  /* font-size: 1.2rem; */
  color: #646cff;
  text-decoration: inherit;
}


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
i{
  color: #1a1a1a;
}










.backgound_contact{
 background-image: url("C:\Users\BHUMIKA\OneDrive\Desktop\react\vite-project\public\contact_background.png");
 backdrop-filter: blur(2px);
   background-position: 100% 100%;
  height: 60vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
& h1{
  text-shadow: 2px 2px 2px white;
}
  
}
.gogglemap{
  padding: 4rem;
  
  border-radius: 20px;
  & img{
    width: 100%;
  }
}







.parent_of_emailsignup{
  margin: 2rem;
  padding-block: 7rem;
  background-color:rgba(183, 243, 234, 0.881);
  & div{
    background-color:transparent;
  }
}
.child_of_emailsignup{
  
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap:1rem;
 & h1{
  font-size: 3vw;
  font-family:Georgia;
 }
 & div>span{
  font-size: 1.5rem;
  margin: 20px;
  display: inline-block;
 }
 & input{
  padding: 1.2rem;
  border-radius: 20px;
  width: 300px;
  /* border-right-color: white; */
  border: none;
  &:focus{
    outline: none;
  }
 }
}
.email_feild{
  
  
  & button{
    background-color: blue;
    color: white;
    padding-inline: 3rem;
    padding-block: 1rem;
    border-radius: 20px;
    transform: translateX(-50px);
    
  }
}



